NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_me_with_a_long_random_secret
DATABASE_URL=postgresql://coach_serges:coach_serges_password@localhost:5432/coach_serges?schema=public
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
APP_PUBLIC_NAME=Coach Serges
APP_PUBLIC_URL=http://localhost:3000
